@charset "ISO-8859-1";

	body{
	background-color : lightgreen;
	}
	#body{
/* 	position : absolute; */
	background-color : white;
	border: 1px solid black;
	width : 400px;
	padding-left:30px;
	height : 150px;
	margin-left : 610px;
	margin-top : 150px;
	}
	#image{
	margin-left : 0px;
	margin-top : 300px;
	}